# This is Git's per-user configuration file.
[user]
	name = vijjuvijaylaxmi
	email = vijaylaxmivt9@gmail.com
# Please adapt and uncomment the following lines:
#	name = vijaylaxmi
#	email = ec2-user@ip-172-31-14-170.ap-south-1.compute.internal
