name: python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build and push Docker image
      env:
        DOCKER_USERNAME: ${{ secrets.vijjuvijaylaxmi }}
        DOCKER_PASSWORD: ${{ secrets.dckr_pat_tnWd7G_YwZgRzvXHFQyyC-XyvKY }}
      run: |
          docker build -f ./main.yml -t vijjuvijaylaxmi/python:$(date +%Y%m%d%H%M%S) .
          docker login -u vijjuvijaylaxmi -p dckr_pat_tnWd7G_YwZgRzvXHFQyyC-XyvKY
          docker tag vijjuvijaylaxmi/python:$(date +%Y%m%d%H%M%S) vijjuvijaylaxmi/python:latest
          docker push vijjuvijaylaxmi/python:latest


